.u-headlineCentered {
  // &:before {
  //   display: none;
  // }
  header {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    h1, h2 {
      margin: 0 auto;
    }
  }
  // &:after {
  //   height: 18px;
  // }
  header {
    position: relative;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 18px;
      background-color: #000;
      position: absolute;
      bottom: -19px;
      left: 50%;
    }

    h1 {
      margin-bottom: 14px;;
      margin-top: 27px;
      @include text-spec(26px, 33px);
      max-width: 1054px;
    }
    h2 {
      @include text-spec(22px, 24px);
      font-family: $font-family-italic;
      font-weight: 600;
    }
  }
  @include breakpoint(max-width $breakpoint-3-column - 1) {
    padding-top: 30px;
  }
  @include breakpoint($breakpoint-2-column) {
    h1{
      @include text-spec(36px, 44px);
    }
    h2{
      @include text-spec(26px, 33px);
    }
  }
  @include breakpoint($breakpoint-3-column) {
    header {
      padding-bottom: 56px;
      &:after {
        height: 38px;
        bottom: -39px;
      }
      h1{
        @include text-spec(40px, 46px);
        margin-bottom: $gutter-width * 2;
        margin-top: $gutter-width * 2;
      }
      h2{
        @include text-spec(28px, 40px);
      }
    }
  }
}
