$color-grayLight--primaryNav: rgb(153,153,153);
$color-tenetGray            : #5B676F;
$color-tenetDarkGray        : #454545;

$top100nochange             : #a5a5a5;
$top100up                   : #1cc300;
$top100down                 : #e4002b;
$top100blue                 : #00aeef;
