// $column-width         : 30px;
$gutter-width         : 20px;
$desktop-content-left-padding: 340px;
$header-height        : 75px;
$header-height-bp-2   : 100px;
$header-height-bp-3   : 149px;

$breakpoint-2-column  : 640px;
$breakpoint-3-column  : 960px;
$breakpoint-4-column  : 1280px;
