article {
  max-width: 950px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  h2 {
    margin: 0;
    @include text-spec(18px, $line-space, #fff);
  }

  p {
    margin-top: 0;
    margin-bottom: $line-space;
  }

  a {
    color: #999;
    &:hover {
      color: #fff;
    }
  }
}

@include breakpoint($breakpoint-3-column) {
  .cols {
    display: flex;
    justify-content: space-between;
    div {
      flex-basis: 33%;
    }
  }
}
