.main {
  padding: $gutter-width * 4 $gutter-width;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    position: absolute;
    top: 42px;
    left: 50%;
    background-color: #000;
  }

  h1, h2, h3 {
    margin: 0;
  }

  h1 {
    @include text-spec(25px, 32px);
    margin-bottom: 5px;
  }

  @include breakpoint($breakpoint-4-column + $gutter-width * 2) {
    padding-left: 0;
    padding-right: 0;
  }
  .conclusion{
    border-bottom: 1px solid #000;
    padding-bottom: 85px;
    h2{
      @include text-spec(40px, 46px);
      text-align: center;
      margin-bottom: 45px;
      .redText{
        color: #ff0000;
      }
    }
    p{
      @include text-spec(40px, 46px);
      text-align: center;
    }  
  }
}
