.options {
  margin-top: 10px;
}
.option {
  cursor: pointer;
  list-style-type: none;
  @include text-spec(18px, 22px);
  margin-bottom: 10px;
  position: relative;
  &.result {
    cursor: default;
  }
}
.percentSelected {
  position: absolute;
  right: 0;

  [data-rank="0"] & {
    font-weight: bold;
  }
}

.meter {
  height: 7px;
  position: relative;
  background-color: black;

  span {
    display: block;
    height: 100%;
    animation-name: expandWidth;
    animation-duration: 0.5s;

    // output colors based on option rank
    $rankColors: #cb000c, #385995, #4ca2c7;
    @for $i from 1 through length($rankColors) {
      [data-rank="#{$i - 1}"] & {
        background-color: nth($rankColors, $i);
      }
    }
  }
}
@keyframes expandWidth {
   0% { width: 0; }
}
