.options {
  margin-top: 16px;
}
.option {
  cursor: pointer;
  list-style-type: none;
  @include text-spec(18px, 22px);
  margin-bottom: 18px;
  position: relative;
  &.result {
    cursor: default;
  }
}
.percentSelected {
  position: absolute;
  right: 0;
}

.meter {
  height: 7px;
  position: relative;
  background-color: black;

  span {
    display: block;
    height: 100%;
    background-color: red;
    animation-name: expandWidth;
    animation-duration: 0.5s;
  }
}
@keyframes expandWidth {
   0% { width: 0; }
}
