.questions {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.question {
  flex-basis: 300px;
  margin: 20px;
  h2 {
    @include text-spec(22px, 26px);
  }
}
